.content-container {
  border: 1px solid darkslategrey;
  box-shadow: 3px 3px 4px 1px slategrey inset;
  /* width: 90vw; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-collapse: collapse; */
  position: relative;
}

table {
  border-collapse: collapse;
}

th,
td {
  /* border: 1px solid; */
  /* gap: 0px; */
  width: 150px;
  text-align: center;
  padding: 12px;
}

tr {
  border: 1px solid lightgray;
  padding: 20px;
  height: 50px;
}

.action-column {
  width: 200px;
  /* border: 1px solid violet; */
  display: flex;
  justify-content: center;
  align-items: center;
}
