.delete-confirmation-container-tranparent-back {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.56);
  margin: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.delete-confirmation-container {
  /* position: absolute; */
  /* background-color: bisque; */
  background-color: #fff;
  /* top: 40%; */
  /*  */
  width: 300px;
  text-align: center;
  padding: 14px;
  z-index: 1;
}

.delete-head {
  text-align: left;
  font-size: 16px;
}

.delete-para {
  text-align: left;
  font-size: 12px;
}

.cnf-btn {
  background-color: #ff1e1e;
  padding-left: 12px;
  padding-right: 12px;
  margin: 3px;
  margin-right: 8px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
}

.back-btn {
  background-color: transparent;
  padding-left: 12px;
  padding-right: 12px;
  margin: 3px;
  margin-right: 8px;
  color: #000;
  outline: none;
  border: 1px solid #000;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
}
