.view-details-container {
  background-color: lightsalmon;
  position: absolute;
  border: 3px solid;
  margin: 12px;
  padding: 12px;
  z-index: 1;
}

.span-element {
  font-weight: 400;
  font-size: 14px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
}
